h1 {
    font-size: 2.5 rem;
    color: #ffffff;
    margin-bottom: 10px;

}

h2 {
    font-size: 1.4 rem;
    color: #c6c6c6;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #32323cab;
}

/* Chapter Section Styles */

.chapter-section {
    background-color: rgba(0, 0, 0, 0.449);
    /*border: 10px outset #a7a7a7;*/
    padding: 20px;
    border-radius: 8px;
    margin: 88px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chapter-section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #e6e6e6;
    margin-bottom: 5px;
    display: inline-block;
}

.chapter-section p {
    font-family: "Montserrat", sans-serif;    
    font-size: 15px;
    color: #e6e6e6;
    line-height: 1.6;
    text-align: justify;
}

.chapter-section address {
    text-align: left;
    color: #e6e6e6;
}

/* Navigation Styles */

nav {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.449);
    box-shadow: 0 2px 10px rgba(0red, 0, 0, 0.52);
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.3s
    padding-bottom 4px;
    position: relative;
}

nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   gap: 10px;
}

nav ul li {
   display: inline-block;
}

nav ul li a {
   text-decoration: none;
   padding: 10px 15px;
   display: block;
}

nav a:hover{
    color: #000000;
    background-color: #ffffff60;
    border-radius: 8px;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.5s;
}

nav a:hover::after {
    width: 100%;
}

/* Header Styles */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vm;
    text-align: center;
    padding-top: 60;
    background: url('../images/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.header-content, .button-content {
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
}

/* Header Style - BUtton */

button {
    text-transform: uppercase;
    position: relative;
    border: none;
    font-size: 18px;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
    padding: 23px 33px;
    border: 3px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
}

button::before,
button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.shrink-border {
    color: #d3d3d3;
}

.shrink-border:hover {
    color: #e6e6e6;
}

/* Outer border */
.shrink-border::before {
    border: 3px solid #959595;
}

/* Inner border that "shrinks" in */
.shrink-border::after {
    border: 3px solid #e6e6e6;
    opacity: 0;
    transform: scale(0.7);
}

.shrink-border:hover::before {
    opacity: 0;
}

.shrink-border:hover::after {
    opacity: 1;
    transform: scale(1);
}

/* Footer style */

footer {
    background-color: #030b0e;
    padding: 40px 0;
    color: #e6e6e6;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: #e6e6e6;
    text-decoration: none;
    transform: color 0.3s;
}

.footer-links a:hover {
    color: #5e5e5e;
    text-decoration: none;
    transform: color 0.3s;
}

.social-media {
    margin-top: 0;
}

.social-media a {
    color: #e6e6e6;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #5e5e5e;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

/* Gallery styles */

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px auto;
    width: 90vw;
}

figure {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
}

figure img {
    width: 100%;
    display: block;
}

#gallery img {
    padding: 0px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px, 0px, 3px, #ccc;
    z-index: 1;
    border: 0cm solid #ffffff;
    border-radius: 10px;

}

figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.567);
    z-index: 2;
    margin: 0;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 600px) {
    #fraction {
        font-size: 14px;
    }
    #gallery {
        grid-template-columns: 1fr 1fr;
        width: 90vw;
    }
    
}

/* contact form styles */

.contact {
    background-color: rgba(0, 0, 0, 0.449);
    padding: 20px;
    border-radius: 8px;
    margin: 88px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #e6e6e6;
    margin-bottom: 5px;
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e6e6e6;
}

.contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 16px;
}

/* About Us Section */

.two-column-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.column {
    flex-basis: 50%;

}

.column img {
    width: 100%;
    height: auto;
}

.about-us-section {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-us-section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #e6e6e6;
    margin-bottom: 5px;
}

.about-us-section p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #e6e6e6;
}

/* call to action section */

.call-to-action {
    background-color: rgba(0, 0, 0, 0.449);
    padding: 50px 20px;
    margin: 88px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.call-to-action h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #e6e6e6;
}

.call-to-action p {
    font-family: "Montserrat", sans-serif;    
    font-size: 20px;
    color: #e6e6e6;
}